
    <!-- show.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<p>
  <b>Norma:</b>
  <%= link_to(
    @posee_descriptor.norma.tipo_norma.nombre + ' ' +
    @posee_descriptor.norma.numero,
    @posee_descriptor.norma) %>
</p>

<p>
  <b>Descriptor general:</b>
  <%= link_to(
    @posee_descriptor.descriptor_general.nombre,
    @posee_descriptor.descriptor_general)%>
</p>


<%= link_to 'Editar', edit_posee_descriptor_path(@posee_descriptor) %> |
<%= link_to 'Atrás', :back %> |
<%= link_to 'Ir al listado', :action => 'index' %> |
<%= link_to 'Principal', :controller => 'pagina_principal' %>
