
    <!-- index.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


 <h1> Histórico de Cambios de Estado </h1>
  <p> Usted seleccionó la norma <b><%= h @norma.numero %></b>. </p>
  <p> Sumario de la norma: </p>
  <p>
    <%= h @norma.sumario %>
  </p>
  <p> A continuación se muestran los cambios de estados de esta norma
  ordenados del más reciente al más antiguo según vencimiento y/o fecha de cambio.</p>

  <p> El estado actual de la norma es por el último cambio de estado aplicado.
  Véase la fecha de aplicado. </p>

  <ul>
    <% @lst_cambios_estados.each do |ce|
       cambio_aplicado = @lst_estados_aplicados[ce.id]
          if not cambio_aplicado.nil?
             #El estado fue aplicado, verificar si fue instantáneo
             #Si la fecha de aplicado == a la fecha de creación del cambio de estado
             if cambio_aplicado.es_cambio_instantaneo()
               #El estado fue un cambio por el usuario instantáneo  %>
                <%=%>
                <span class="estadoAplicado">
                  <li> Fecha de cambio:
                    <%= h ce.fecha_cambio.strftime("%d / %m / %Y") %> <b> Aplicado </b></li>
                  <ul>
                    <li> Cambió al estado:
                      <%= link_to ce.estado.nombre, ce.estado %>
                    </li>
                    <li> Comentario:
                      <%= h cambio_aplicado.comentario %>
                    </li>
                    <li> Causa del Cambio:
                      <%= link_to ce.causa_cambio_estado.nombre, ce.causa_cambio_estado %>
                    </li>
                    <li> <%= link_to "Detallar Cambio de Estado",ce %> |
                    <%= link_to "Detallar Cambio Aplicado", cambio_aplicado %> |
                    <%= link_to "Detallar Causa del Cambio de Estado", ce.causa_cambio_estado %>
                  </ul>
                </span>

              <% else
                #Fue un cambio planificado y aplicado %>
                <%=%>

                <span class="estadoAplicado">
                  <li> Vencimiento del Cambio de Estado: <%= h ce.fecha_cambio.strftime("%d / %m / %Y")%>
                    <b> Aplicado </b></li>
                  <ul>
                    <li> Se planificó el día:
                      <%= h ce.fecha_creacion.strftime("%d / %m / %Y") %>
                    </li>
                    <li> Cambió al Estado:
                      <%= link_to ce.estado.nombre, ce.estado %></li>
                    <li> Fecha del Cambio Aplicado:
                      <%= h cambio_aplicado.fecha_aplicado.strftime("%d / %m / %Y") %>
                    <li> Comentario del Cambio de Estado:
                      <%= h ce.comentario %> </li>
                    <li> Comentario al Momento de Aplicar:
                      <%= h cambio_aplicado.comentario %> <li>
                    <li> Causa del Cambio:
                      <%= link_to ce.causa_cambio_estado.nombre, ce.causa_cambio_estado %>
                    </li>
                    <li>
                      <%= link_to "Detallar Cambio de Estado",ce %> |
                      <%= link_to "Detallar Cambio Aplicado", cambio_aplicado %> |
                      <%= link_to "Detallar Causa del Cambio de Estado", ce.causa_cambio_estado %>
                    </li>
                  </ul>
                </span>

               <%  end
            else
           # Cambio de estado no aplicado %>
          <%=%>
           <span class="estadoNoAplicado">
            <li> Vencimiento del Cambio de Estado:
              <%= h ce.fecha_cambio.strftime("%d / %m / %Y")%></li>
            <ul>
              <li> Cambiar al estado:
                <%= link_to ce.estado.nombre, ce.estado %> </li>
              <li> Comentario: 
                <%= h ce.comentario %>
              </li>
              <li> Causa del Cambio:
                <%= link_to ce.causa_cambio_estado.nombre, ce.causa_cambio_estado %>
              </li>
              <li><%= link_to "Detallar Cambio de Estado",ce %> |
                <%= link_to "Detallar Causa del Cambio de Estado", ce.causa_cambio_estado %> |
                <%= link_to "Aplicar cambio", :controller => "cambio_aplicados", :action => "new", :ce_id => ce.id%>
            </ul>
           </span>
          <% end %>

    <% end %>
  </ul>

  <hr>
  <p>
    <%= link_to 'Ir a la Norma', @norma %> |    
    <%= link_to 'Planificar o Cambiar el Estado', :controller => "cambio_estados", :id => @norma%> |
    <%= link_to 'Principal', :controller => "pagina_principal" %>
  </p>
