<p id="notice"><%= notice %></p>

<h1>Causa Cambio Estados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @causa_cambio_estados.each do |causa_cambio_estado| %>
      <tr>
        <td><%= causa_cambio_estado.nombre %></td>
        <td><%= causa_cambio_estado.comentario %></td>
        <td><%= link_to 'Show', causa_cambio_estado %></td>
        <td><%= link_to 'Edit', edit_causa_cambio_estado_path(causa_cambio_estado) %></td>
        <td><%= link_to 'Destroy', causa_cambio_estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Causa Cambio Estado', new_causa_cambio_estado_path %>
