
    <!-- quitar_desc_gen.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<script type="text/javascript">
  function agregar_id(id){
    var idstr = id.toString(10);
    var did = document.getElementById("descriptor_id");

    //Chequear si ya existe, en cuyo caso quitarlo
    var c = did.value.indexOf(idstr);

    if (c >= 0){
      //Ya existe... quitarlo
      did.value = did.value.substr(0,c) + did.value.substr(c + idstr.length + 1);
    }else{
      // No existe, hay que agregarlo...
      did.value = did.value + idstr + " ";
    }
  }

  function agregar_desc(nombre){
    var nom = document.getElementById("nombre_descriptor");

    //chequear si no está
    var c = nom.value.indexOf(nombre);

    if (c >= 0){
      //Sí está: quitarlo
      nom.value = nom.value.substr(0,c) + nom.value.substr(c + nombre.length + 1);
    }else{
      //No está: agregarlo.
      nom.value = nom.value + nombre + "\n"
    }
  }

  function limpiar(){
    //Quitar los nombres de los descriptores
    var nom = document.getElementById("nombre_descriptor");
    nom.value = "";

    //Quitar los colores de los links
    var did = document.getElementById("descriptor_id");

    var link_id = 0
    var desc = did.value.match(/\d+ /g);
    if (desc != null) {
      for (i=0; i < desc.length ; i++){
        link_id = desc[i].substr(0,desc[i].length - 1);
        link = document.getElementById("link_" + link_id);
        link.style.color= "";
      }
    }

    //Borrar los ids.
    did.value = "";
  }

  function cambiar_color(id){
    var link = document.getElementById("link_" + id.toString(10));
    if (link.style.color == "red"){
      //Ya fue elegido: cambiar al color original.
      link.style.color = "";
    }else{
      //Aún no fue elegido: poner el color rojo.
      link.style.color = "red";
    }

  }

  function elegir(id,nombre){
    if (id == '' && nombre == ''){
      limpiar();
    }else{
      //Cambiar color el elemento
      cambiar_color(id);

      //Agregar el id al verdadero input
      agregar_id(id);

      //Agregar el nombre al textarea
      agregar_desc(nombre);
    }
  }

</script>

<h1> Quitar Descriptores Generales </h1>

<p> Usted eligió <%= link_to @norma.tipo_norma.nombre + " " + @norma.numero, @norma, :target => "_blank"%>
para quitarle descriptores generales</p>

<p> Tenga en cuenta que al quitar un descriptor general <b style="color:red">
quitará todos los descriptores particulares que posee</b></p>

<ul>
<% @lst_desc_gens.each do |posee_desc_gen|
  desc_gen = posee_desc_gen.descriptor_general %>
  <li>
  <%= link_to desc_gen.nombre, desc_gen %> | <%= link_to 'Quitar descriptor',    
    :action => "eliminar_posee_desc",    
    :norma_id => @norma ,
    :posee_desc_gen_id => posee_desc_gen
    %>
  </li>
<% end %>
</ul>


<h1> Quitar Descriptores Particulares </h1>

<p>
  <%= link_to "Ningún descriptor", "javascript: elegir('','')" %>
</p>

<% @lst_desc_parts.each do |nodo|
  dg = nodo[0] #Descriptor general
  lst_parts = nodo[1] #Descriptores particulares que tiene la norma en el descriptor general "dg"
  %>
  <h3> <%= link_to dg.nombre, dg, :target => "_blank"%> </h3>
  <ul>
    <% lst_parts.each do |posee_desc_part|
        desc_part = posee_desc_part.descriptor_particular%>
      <li>
        <%= link_to desc_part.nombre, "javascript: elegir(#{posee_desc_part.id},'#{desc_part.nombre}')", {:id => 'link_' + posee_desc_part.id.to_s} %>
      </li>
    <% end %>
  </ul>
<% end %>

<hr>

<p> Antes de continuar chequee que haya seleccionado los descriptores particulares adecuados: </p>

<textarea rows="10" cols="40" id="nombre_descriptor" readonly></textarea>

<%= form_for :descriptor, :url => {:action => 'quitar_desc_part', :id => @norma.id} do |f| %>
  <%= f.text_field :id, :style => "visibility : hidden"%>
  <p>
    <%= f.submit "Quitar" %>
  </p>
<% end %>
