<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @norma.numero %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @norma.comentarios %>
</p>

<p>
  <strong>Sumario:</strong>
  <%= @norma.sumario %>
</p>

<p>
  <strong>Citas doctorales:</strong>
  <%= @norma.citas_doctorales %>
</p>

<p>
  <strong>Citas jurisprudenciales:</strong>
  <%= @norma.citas_jurisprudenciales %>
</p>

<p>
  <strong>General:</strong>
  <%= @norma.general %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @norma.texto %>
</p>

<p>
  <strong>Fecha publicacion:</strong>
  <%= @norma.fecha_publicacion %>
</p>

<p>
  <strong>Fecha sancion:</strong>
  <%= @norma.fecha_sancion %>
</p>

<p>
  <strong>Fecha promulgacion:</strong>
  <%= @norma.fecha_promulgacion %>
</p>

<p>
  <strong>Tipo norma:</strong>
  <%= @norma.tipo_norma %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @norma.estado %>
</p>

<p>
  <strong>Lugar publicacion:</strong>
  <%= @norma.lugar_publicacion %>
</p>

<%= link_to 'Edit', edit_norma_path(@norma) %> |
<%= link_to 'Back', normas_path %>
