
    <!-- show.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->

<% unless @tamano.nil? %>
<style type="text/css" media="all">
<!--
    p {
    font-size: <%= @tamano %>pt;
    }
    div.texto{ 
    font-size: <%= @tamano %>pt;
    }
    li {
    font-size: <%= @tamano %>pt;
    }
    td {
    font-size: <%= @tamano %>pt;
    }

-->
</style>
<% end %>

<div class="texto" id="texto">
  <% if (@norma.texto.nil? or 
     @norma.texto.empty?)
     %>
  <i> No tiene texto. </i>
  <% else %>
  <%= @norma.texto %>
  <% end %>
</div>

<% unless @tamano.nil? %>
<script type="text/javascript">
  t = document.getElementById("texto");
  t.style.fontSize = '<%= @tamano %>pt';
</script>

<% end %>

<% if @con_logo %>
<hr />
<p> <i>Sistema <u>Free</u>Digesto</i> ¡Use Software Libre!(<i>http://www.fsf.org</i>)
Licencia GPL V3(<i>http://www.gnu.org/licences</i>) </p>
<% end %>
