
    <!-- edit.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<h1>Editar "Relaciona con Normas"</h1>

<% if false %>
<% form_for(@relaciona_con_norma) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :norma_a %><br />
    <%= f.text_field :norma_a %>
  </p>
  <p>
    <%= f.label :norma_b %><br />
    <%= f.text_field :norma_b %>
  </p>
  <p>
    <%= f.label :tipo_relacion %><br />
    <%= f.text_field :tipo_relacion %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Mostrar', @relaciona_con_norma %> |
<% end %>

<%= link_to 'Atrás', :back %> |
<%= link_to 'Ir al listado', :action => 'index' %> |
<%= link_to 'Principal', :controller => 'pagina_principal' %>
