
    <!-- index.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<h1>Relaciones de Normas</h1>
<% form_for :filtrar, :url => "/relaciona_con_normas/index" do |f| %>
  <%= f.error_messages %>
  <p> Filtrar por norma número: <br />
    <%= f.text_field :numero %>
  </p>
  <p> Tipo de Norma: <br />
    <%= f.collection_select(:tipo_norma, get_tipos_norma, :id, :nombre) %>
  </p>
  <p>
    <%= f.submit "Filtrar" %>
  </p>
  <% end %>

  <hr />

  <%= link_to "Amigable a la Impresión",
      {:action => 'index', :id_norma => @norma, :vista_impresion => true},
  {:target => '_blank'} %>

<% unless @norma.nil? %>
  <p> Usted seleccionó para ver desde la perspectiva de la norma <b>
    <%= @norma.tipo_norma.nombre %> N°:
    <%= @norma.numero %></b>
  </p>

  <br />

  <span class="relacionSaliente">
  <p> Desde la norma <b><%= @norma.numero %></b> del tipo
  <b><%= @norma.tipo_norma.nombre %></b> hacia las otras normas:</p>
  <ul>
  <% @relaciones_salientes.each do |rn| %>
        <li> Desde
          <%= @norma.tipo_norma.nombre %> N°:
          <%= @norma.numero %>
          hasta
          <b>
          <%= link_to(
            rn.norma_b.tipo_norma.nombre + " N° : " + rn.norma_b.numero,
            rn.norma_b) %></b>:
      <ul>
        <li> Tipo Relación: <b>
          <%= link_to rn.tipo_relacion.nombre, rn.tipo_relacion %></b></li>
        <li> <%= link_to 'Ver relación con norma', rn %> |
          <%=  link_to 'Ver Norma', rn.norma_b %> |
          <%= link_to 'Ver Tipo relación', rn.tipo_relacion %></li>
        <li><%= link_to 'Editar Relación', edit_relaciona_con_norma_path(rn) %> |
          <%= link_to 'Eliminar Relación', rn, :confirm => 'Are you sure?', :method => :delete %></li>
        <li>
          <%= link_to 'Filtrar por la norma relacionada', :controller => 'relaciona_con_normas', :action => 'index', :id_norma => rn.norma_b  %>
        </li>
      </ul></li>
  <% end %>
  </ul>
  </span>

  <span class="relacionEntrante">
  <p> Desde las otras normas hacia esta
  (<b><%= @norma.tipo_norma.nombre %> N°: <%= @norma.numero %> </b>):</p>
  <ul>
  <% @relaciones_entrantes.each do |rn| %>
      <li> Desde <b>
        <%= link_to(
          rn.norma_a.tipo_norma.nombre + " N°: " + rn.norma_a.numero,
          rn.norma_a)%></b>
        hasta
        <%= @norma.tipo_norma.nombre %> N°:
        <%= @norma.numero %>:
        <ul>
          <li> Tipo Relación: <b>
            <%= link_to rn.tipo_relacion.nombre, rn.tipo_relacion %></b></li>
          <li> <%= link_to 'Ver relación con norma', rn %> |
            <%=  link_to 'Ver Norma', rn.norma_b %> |
            <%= link_to 'Ver Tipo relación', rn.tipo_relacion %></li>
          <li><%= link_to 'Editar Relación', edit_relaciona_con_norma_path(rn) %> |
            <%= link_to 'Eliminar Relación', rn, :confirm => 'Are you sure?', :method => :delete %></li>
          <li>
            <%= link_to 'Filtrar por la norma relacionada', :controller => 'relaciona_con_normas', :action => 'index', :id_norma => rn.norma_a  %>
          </li>
        </ul>
      </li>
  <% end %>
  </ul>
  </span>

  <br />

  <% if @puede_crear %>
    <%= link_to(
      'Nueva Relación a partir de ' + h(@norma.tipo_norma.nombre) + ' ' + h(@norma.numero),
        :action => 'new',
        :id_norma => @norma)%> |
  <% end %>

<% else %>
  <table>
    <tr>
      <th colspan="2">Norma a</th>
      <th colspan="2">Norma b</th>
      <th>Tipo relacion</th>
    </tr>

  <% for rn in @relaciona_con_normas %>
    <tr>
      <td><%=h rn.norma_a.numero %></td>
      <td><%=h rn.norma_a.tipo_norma.nombre %></td>
      <td><%=h rn.norma_b.numero %></td>
      <td><%=h rn.norma_b.tipo_norma.nombre %></td>
      <td><%=h rn.tipo_relacion.nombre %></td>
      <td><%= link_to 'Mostrar', rn %></td>
      <td><%= link_to 'Editar', edit_relaciona_con_norma_path(rn) %></td>
      <td><%= link_to 'Eliminar', rn, :confirm => '¿Está Seguro?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <p> Utilize el formulario "Filtrar" que está arriba. </p>

    <br />
  <% if @puede_crear %>
    <%= link_to 'Nueva Relación', new_relaciona_con_norma_path %> |
  <% end %>
<% end %>
<%= link_to 'Atrás', :back %> |
<%= link_to 'Principal', :controller => 'pagina_principal' %>
