
    <!-- vista_impresion.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 23 De Junio Del 2011     -->


    <!-- index.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<h1>Relaciones de Normas</h1>
<% unless @norma.nil? %>
  <p> Usted seleccionó para ver desde la perspectiva de la norma <i>
    <%= @norma.tipo_norma.nombre %> N°:
    <%= @norma.numero %></i>
  </p>
  <p> Resumen del sumario: </p>
  <%= @norma.sumario[0,100] %>
  <br />

  <hr />
  <span class="relacionSaliente">
  <h2> Desde la <i><%= @norma.tipo_norma.nombre %> N° <%= @norma.numero %></i> hacia las otras normas:</h2>
  <ul>
    <% if @relaciones_salientes.length() == 0 %>
    <p> No hay relaciones "salientes" </p>
    <% end %>
  <% @relaciones_salientes.each do |rn| %>
        <li> Desde <i>
          <%= @norma.tipo_norma.nombre %> N°:
          <%= @norma.numero %> </i>
          hasta
          <b>
          <%= rn.norma_b.tipo_norma.nombre + " N° : " + rn.norma_b.numero %></b>:
      <ul>
        <li> Sumario de la <%= rn.norma_b.tipo_norma.nombre %> <%= rn.norma_b.numero %> :
        <br />
        <%= rn.norma_b.sumario[0, 100]%></li>
        <li> Tipo Relación: <b>
          <%= rn.tipo_relacion.nombre %></b></li>
      </ul></li>
  <% end %>
  </ul>
  </span>

  <span class="relacionEntrante">
  <h2> Desde las otras normas hacia la
    <i><%= @norma.tipo_norma.nombre %> N°: <%= @norma.numero %> </i>:</h2>
  <ul>
    <% if @relaciones_entrantes.length() == 0 %>
    <p> No hay relaciones "entrantes" </p>
    <% end %>
  <% @relaciones_entrantes.each do |rn| %>
      <li> Desde <b>
        <%= rn.norma_a.tipo_norma.nombre + " N°: " + rn.norma_a.numero %></b>
        hasta
        <i>
        <%= @norma.tipo_norma.nombre %> N°:
        <%= @norma.numero %>:
        </i>
        <ul>
          <li> Sumario de <%= rn.norma_a.tipo_norma.nombre %> <%= rn.norma_a.numero %>:
          <br />
          <%= rn.norma_a.sumario[0,100] %></li>
          <li> Tipo Relación: <b>
            <%= rn.tipo_relacion.nombre %> </b></li>
        </ul>
      </li>
  <% end %>
  </ul>
  </span>

  <br />

<% else %>
  <table>
    <tr>
      <th colspan="2">Norma a</th>
      <th colspan="2">Norma b</th>
      <th>Tipo relacion</th>
    </tr>

  <% for rn in @relaciona_con_normas %>
    <tr>
      <td><%=h rn.norma_a.numero %></td>
      <td><%=h rn.norma_a.tipo_norma.nombre %></td>
      <td><%=h rn.norma_b.numero %></td>
      <td><%=h rn.norma_b.tipo_norma.nombre %></td>
      <td><%=h rn.tipo_relacion.nombre %></td>
      <td><%= link_to 'Mostrar', rn %></td>
      <td><%= link_to 'Editar', edit_relaciona_con_norma_path(rn) %></td>
      <td><%= link_to 'Eliminar', rn, :confirm => '¿Está Seguro?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />
<% end %>

<br />
<hr />
<p class="comentario"> <b>Nota:</b> Los sumarios fueron acortados para un mejor muestreo de los resultados </p>
<p> <i>Sistema <u>Free</u>Digesto</i> ¡Use Software Libre!(<i>http://www.fsf.org</i>)
Licencia GPL V3(<i>http://www.gnu.org/licences</i>) </p>
