
    <!-- edit.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<h1> Editar Asignación de Privilegio</h1>

<% form_for(@tiene_privilegio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :usuario %><br />
    <%= f.collection_select :usuario_id, get_usuarios, :id, :nombre %>
  </p>
  <p>
    <%= f.label :privilegio %><br />
    <%= f.collection_select :privilegio_id, get_privilegios, :id, :nombre %>
  </p>
  <p>
    <%= f.submit "Cambiar" %>
  </p>
<% end %>

<%= link_to 'Mostrar', @tiene_privilegio %> |
<%= link_to 'Atrás', :back %> |
<%= link_to 'Ir al listado', :action => 'index' %> |
<%= link_to 'Principal', :controller => 'pagina_principal' %>