<p id="notice"><%= notice %></p>

<h1>Cambio Aplicados</h1>

<table>
  <thead>
    <tr>
      <th>Fecha aplicado</th>
      <th>Cambio estado</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cambio_aplicados.each do |cambio_aplicado| %>
      <tr>
        <td><%= cambio_aplicado.fecha_aplicado %></td>
        <td><%= cambio_aplicado.cambio_estado %></td>
        <td><%= cambio_aplicado.comentario %></td>
        <td><%= link_to 'Show', cambio_aplicado %></td>
        <td><%= link_to 'Edit', edit_cambio_aplicado_path(cambio_aplicado) %></td>
        <td><%= link_to 'Destroy', cambio_aplicado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cambio Aplicado', new_cambio_aplicado_path %>
