
    <!-- index.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<h1> Listado de los Cambios Aplicados </h1>

<table>
  <tr>
    <th>Fecha aplicado</th>
    <th>Cambio estado</th>
    <th>Comentario</th>
  </tr>

<% for cambio_aplicado in @cambio_aplicados %>
  <tr>
    <td><%=h cambio_aplicado.fecha_aplicado.strftime("%d / %m / %Y") %></td>
    <td><%= link_to(
      cambio_aplicado.cambio_estado.fecha_cambio.strftime("%d / %m / %Y"),
      cambio_aplicado.cambio_estado) %></td>
    <td><%=h cambio_aplicado.comentario %></td>
    <td><%= link_to 'Mostrar', cambio_aplicado %></td>
    <td><%= link_to 'Editar', edit_cambio_aplicado_path(cambio_aplicado) %></td>
    <td><%= link_to 'Eliminar', cambio_aplicado, :confirm => '¿Está seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="comandos">
  <p>
    <%= link_to 'Principal', :controller => 'pagina_principal' %>
  </p>
</div>
