
    <!-- new.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<h1>Aplicar Cambio de Estado</h1>

<% form_for @cambio_aplicado, :url => {:action => "create", :ce_id => @cambio_estado.id} do |f| %>
  <%= f.error_messages %>
  
  <p>
    Cambio estado:
    <ul>
      <li> Planificado en el día:
        <b><%= @cambio_estado.fecha_creacion.strftime("%d / %m / %Y") %></b>
      </li>
      <li> Para la fecha:
        <b><%= @cambio_estado.fecha_cambio.strftime("%d / %m / %Y") %></b>
      </li>
      <li> Para la norma:
        <b><%= link_to @cambio_estado.norma.numero, @cambio_estado.norma, :target => "blank" %></b>
      </li>
      <li> Cambia al estado:
        <b><%= link_to @cambio_estado.estado.nombre, @cambio_estado.estado, :target => "blank" %></b>
      </li>
      <li> <%= link_to "Ver Cambio de Estado", @cambio_estado, :target => "blank"%> |
      <%= link_to "Ver Norma", @cambio_estado.norma, :target => "blank" %>
      </li>

    </ul>
  </p>
    
  <p>
    <%= f.label :comentario %><br />
    <%= f.text_area :comentario %>
  </p>
  <p>
    <%= f.submit "Aplicar Cambio" %>
  </p>
<% end %>

<div class="comandos">
  <p>
    <%= link_to 'Atrás', :back %> |
    <%= link_to 'Principal', :controller => 'pagina_principal' %>
  </p>
</div>
