<p id="notice"><%= notice %></p>

<h1>Listado de los Usuarias/os Logeados </h1>

<table>
  <thead>
    <tr>
      <th>Nombre usuaria/o</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logins.each do |login| %>
      <tr>
        <td><%= login.nombre_usuario %></td>
        <td><%= link_to 'Mostrar', login %></td>
        <td><%= link_to 'Editar', edit_login_path(login) %></td>
        <td><%= link_to 'Eliminar (Logout)',
             login,
             method: :delete,
             data: {
                 confirm: '¿Está segura/o?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Login(Logear Usuario)', new_login_path %> |
<%= link_to 'Atrás', :back %> |
<%= link_to 'Principal', :controller => 'pagina_principal' %>
