<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre usuario:</strong>
  <%= @login.nombre_usuario %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @login.clave %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
