
    <!-- agregar_citas.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<% unless @esta_modificando %>
  <h1> Asistente para Crear Normas </h1>

  <p>Pasos del asistente: </p>
  <ol>
    <li><b>Información básica de la norma</b><i>(Usted está aquí)</i></li>
    <li> Subir texto de la norma </li>
    <li> Planificar Cambios de Estados </li>
    <li> Relacionar la norma </li>
    <li> Determinar descriptores </li>
    <ol>
      <li>Determinar descriptor general</li>
      <li>Determinar descriptor particular</li>
    </ol>
  </ol>
  <br>

  <h2> Paso 2: Agregar Citas</h2>

<% else %>
  <h1> Editando las Citas de la <%= link_to @norma.tipo_norma.nombre + " " + @norma.numero, @norma, :target => "_blank" %></h1>

<% end %>
<p> Ingrese las citas doctorales y jurisprudenciales para la norma <%= @norma.numero %>: </p>

<% form_for(@norma, :url => {:action => "guardar_citas", :modificando => @esta_modificando, :id => @norma.id}) do |f| %>
    <%= f.error_messages %>

  <p>
    <%= f.label :citas_doctorales %><br />
    <% if @deshabilitar_citas_doct %>
      <%= f.text_area :citas_doctorales, :readonly => true, :disabled => true %>
    <% else %>
      <%= f.text_area :citas_doctorales %>
    <%end %>
  </p>
  <p>
    <%= f.label :citas_jurisprudenciales %><br />
    <% if @deshabilitar_citas_juris %>
      <%= f.text_area :citas_jurisprudenciales, :readonly => true, :disabled => true %>
    <% else %>
      <%= f.text_area :citas_jurisprudenciales %>
    <% end %>
  </p>

  <p>
    <%= f.submit "Siguiente" %>
  </p>
<% end %>
