
    <!-- crear_norma.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<h1> Asistente para Crear Normas </h1>

<p>Pasos del asistente: </p>
<ol>
  <li><b>Información básica de la norma</b><i>(Usted está aquí)</i></li>
  <li> Subir texto de la norma </li>
  <li> Planificar Cambios de Estados </li>
  <li> Relacionar la norma </li>
  <li> Determinar descriptores </li>
  <ol>
    <li>Determinar descriptor general</li>
    <li>Determinar descriptor particular</li>
  </ol>
</ol>
<br>

 <h2> Paso 1: Información básica de la norma</h2>

 <p> Ingrese los siguientes datos: </p>

<% form_for(@norma,:url => {:action => "guardar_norma"}) do |f| %>    
    <%= f.error_messages %>
  <p>
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </p>
  <p>
    <%= f.label :sumario %><br />
    <%= f.text_area :sumario %>
  </p>
  <p>
    <%= f.label :general %><br />
    <%= f.check_box :general %>
  </p>
  <p>
    <%= f.label :tipo_norma_id %><br />
    <%= f.collection_select(:tipo_norma_id, get_tipos_norma, :id, :nombre) %>
  </p>
  <p>
    <%= label :crear_estado, :estado_id %> <br />
    <%= collection_select(:crear_estado, :estado_id, get_estados, :id, :nombre)  %>
  </p>
  <p>
    <%= f.label :lugar_publicacion %><br />    
    <%= f.collection_select(:lugar_publicacion_id,get_lugares_publicacion, :id, :nombre) %>
  </p>
  <p>
    <%= f.label :fecha_sancion %><br />
    <%= f.date_select :fecha_sancion, {:start_year => 1960, :order => [:day, :month, :year]} %>
  </p>
  <p>
    <%= f.label :fecha_promulgacion %><br />
    <%= f.date_select :fecha_promulgacion, {:start_year => 1960, :order => [:day, :month, :year]} %>
  </p>
  <p>
    <%= f.label :fecha_publicacion %><br />
    <%= f.date_select :fecha_publicacion, {:start_year => 1960, :order => [:day, :month, :year]}  %>
  </p>    
  <p>
    <%= f.submit "Siguiente" %>
  </p>  
<% end %>
