
    <!-- subir_texto.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->

<% unless @esta_modificando %>
  <h1> Asistente para Crear Normas </h1>

  <p>Pasos del asistente: </p>
  <ol>
    <li> Información básica de la norma </li>
    <li><b>Subir texto de la norma</b><i>(Usted está aquí)</i></li>
    <li> Planificar Cambios de Estados </li>
    <li> Relacionar la norma </li>
    <li> Determinar descriptores </li>
    <ol>
      <li>Determinar descriptor general</li>
      <li>Determinar descriptor particular</li>
    </ol>
  </ol>
  <br>

   <h2> Paso 2: Subir texto de la norma</h2>
<% else %>
  <h1> Modificando el Texto de la <%= link_to @norma.tipo_norma.nombre + " " + @norma.numero, @norma, :target => "_blank" %></h1>
<% end %>

 <p>El texto de la norma debe haberlo escrito usando un editor de texto.</p>
 <p>Para que sea aceptado no olvide <b> grabarlo con formato HTML o de página web</b>
 de esa manera podrá cargarlo.</p>

 <p> Datos ya agregados: </p>
 <ul>
   <li><b>Número:</b><%= @norma.numero %></li>
   <li><b>Sumario:</b>
    <p>
      <%= @norma.sumario %>
    </p>
    </li>
 </ul>

 <p>A continuación, se le pedirá la ubicación del archivo que usted guardó en su
 computadora.</p>
 <% form_for :norma, @norma, :url => {:action => 'guardar_texto', :modificando => @esta_modificando, :id => @norma.id}, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.file_field :archivoHTML %>
  </p>
  <p>
    <%= f.submit "Siguiente" %>
  </p>
 <% end %>
