
    <!-- index.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<h1> Bienvenidos a FreeDigesto</h1>

<p> Bienvenidos a FreeDigesto, sistema de consulta digital. </p>

<% if @puede_consultar%>
  <h2> Consultas </h2>
  <p> Elija la opción que usted desea </p>
  <p>
    <%= link_to 'Buscar por número de norma.', :controller => "buscar_por_numero" %>
  </p>
  <p>
    <%= link_to 'Buscar norma según el texto que posea.', :controller => "buscar_por_texto" %>
  </p>
  <p>
    <%= link_to 'Buscar norma según el descriptor que posea.', :controller => "buscar_por_descriptores" %>
  </p>
  <p>
    <%= link_to 'Buscar norma según la fecha de promulgación, sanción o publicación', :controller => 'buscar_por_fecha' %>
  </p>
  <p>
    <%= link_to 'Ultimas 10 Normas', :controller => "ultimas_normas" %>
  </p>  
<% end %>

<% if @puede_entrar_datos %>
  <br>
  <br>
  <h2> Entrada de Datos </h2>
  <% if @lstprivilegios.include?(Norma::PuedeCrear) %>
    <p>
      <%= link_to "Crear Normas", :controller => "nueva_norma" %>
    </p>
  <% end %>
  <% if @lstprivilegios.include?(Norma::PuedeCrear) or @lstprivilegios.include?(Norma::PuedeEditar) %>
    <p>
      <%= link_to "Agregar Elementos Faltantes de una Norma o Editarla", :controller => "modificar_norma" %>
    </p>
  <% end %>
  
  <br>
  <h3> Estados de las Normas </h3>

  <% if @lstprivilegios.include?(Estado::PuedeConsultar) %>
    <p>
      <%= link_to "Administrar Estados de las Normas", :controller => "estados"%>
    </p>
  <% end %>

  <% if @lstprivilegios.include?(CausaCambioEstado::PuedeConsultar) %>
    <p>
      <%= link_to "Administrar las Causas de Cambio de los Estados", :controller => "causa_cambio_estados" %>
    </p>
  <% end %>

  <br>
  <h3> Tipos de Normas </h3>
  <% if @lstprivilegios.include?(TipoNorma::PuedeConsultar)%>
    <p>
      <%= link_to 'Administrar Tipos de Normas', :controller => "tipo_normas" %>
    </p>
  <% end %>

  <h3> Lugares de Publicación de las Normas </h3>
  <% if @lstprivilegios.include?(LugarPublicacion::PuedeConsultar) %>
    <p>
      <%= link_to 'Administrar Lugares de Publicacion de las Normas', :controller => "lugar_publicacions" %>
    </p>
  <% end %>

  <br>
  <h3> Relaciones de Normas</h3>
  <% if @lstprivilegios.include?(RelacionaConNorma::PuedeCrear) %>
    <p>
      <%= link_to 'Crear una Relación entre Dos Normas', :controller => 'relaciona_con_normas', :action => 'new'%>
    </p>
  <% end
    if @lstprivilegios.include?(RelacionaConNorma::PuedeConsultar) %>
      <p>
        <%= link_to 'Mostrar Relaciones de una Norma', :controller => 'relaciona_con_normas'%>
      </p>
  <% end
    if @lstprivilegios.include?(TipoRelacion::PuedeConsultar) %>
      <p>
        <%= link_to 'Administrar los Tipos de Relaciones entre Normas', :controller => 'tipo_relacions' %>
      </p>
  <% end %>

  <br>
  <h3> Descriptores Generales y Particulares </h3>

  <% if @lstprivilegios.include?(PoseeDescriptor::PuedeCrear) %>
    <p>
      <%= link_to "Agregar Descriptores a una Norma", :controller => "agregar_descriptores"  %>
    </p>
  <% end %>

  <% if @lstprivilegios.include?(PoseeDescriptor::PuedeEliminar) %>
    <p> 
    <%= link_to "Quitar Descriptores a una Norma", :controller => "quitar_descriptor" %>
    </p>
  <% end %>

  <% if @lstprivilegios.include?(DescriptorGeneral::PuedeConsultar) %>
    <p>
      <%= link_to "Administrar Descriptores Generales", :controller => "descriptor_generals"%>
    </p>
  <% end %>

  <% if @lstprivilegios.include?(DescriptorParticular::PuedeConsultar) %>
    <p>
      <%= link_to "Administrar Descriptores Particulares", :controller => "descriptor_particulars" %>
    </p>
  <% end %>

<% end %>


<% if @puede_administrar %>
  <br>
  <br>
  <h2> Administración </h2>
  <h3> Usuarios </h3>
  <% if @lstprivilegios.include?(Usuario::PuedeConsultar) %>
  <p>
    <%= link_to "Administrar Usuarios", :controller => "usuarios" %>
  </p>
  <% end %>

  <% if @lstprivilegios.include?(Login::PuedeConsultar) %>
    <p>
      <%= link_to 'Administrar los Usuarios Conectados', :controller => "logins" %>
    </p>
  <% end %>

  <% if @lstprivilegios.include?(TienePrivilegio::PuedeConsultar) %>
  <p>
    <%= link_to "Administrar Privilegios(Avanzado)", :controller => "tiene_privilegios" %>
  </p>
  <p>
    <%= link_to "Asignar un Patrón de Privilegios a un Usuario", :controller => "asignar_privilegios" %>
  </p>
  <% end %>

  <h3> Patrones de Privilegios </h3>
  
  <% if @lstprivilegios.include?(PatronPrivilegio::PuedeCrear) %>
    <p>
      <%= link_to "Crear, Editar y Eliminar Patrones de Privilegios", :controller => "patron_privilegios" %>
    </p>
  <% end %>

  <% if @lstprivilegios.include?(AgregarPrivilegio::PuedeConsultar) %>
    <p>
      <%= link_to "Asignar Privilegios a los Patrones de Privilegios", :controller => "agregar_privilegios" %>
    </p>
  <% end %>
<% end %>

<br>
<br>
<div>
  <hr>
  <center>
    <%= image_tag("gnu.png", :height => '100') %> 
    <%= image_tag("logo_escudo.gif", :height => '100') %> 
    <%= image_tag("gpl3.png") %> 
  </center>

  <br />
  <center>  
    Use software libre
  </center>
</div>
