
    <!-- index.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<h1>Listado de Descriptores Particulares</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Comentario</th>
    <th>Descriptor general</th>
  </tr>

<% for descriptor_particular in @descriptor_particulars %>
  <tr>
    <td><%=h descriptor_particular.nombre %></td>
    <td><%=h descriptor_particular.comentario %></td>
    <% if not descriptor_particular.descriptor_general.nil? %>
      <td><%= link_to(
            descriptor_particular.descriptor_general.nombre,
            descriptor_particular.descriptor_general) %></td>
    <% else %>
      <td style="color: red"> NULO </td>
    <% end %>
    <td><%= link_to 'Mostrar', descriptor_particular %></td>    
    <td><%= link_to 'Editar', edit_descriptor_particular_path(descriptor_particular) %></td>
    <td><%= link_to 'Eliminar', descriptor_particular, :confirm => '¿Está seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Descriptor Particular', new_descriptor_particular_path %> |
<%= link_to 'Atrás', :back %> |
<%= link_to 'Ir al listado', :action => 'index' %> |
<%= link_to 'Principal', :controller => 'pagina_principal' %>