<p id="notice"><%= notice %></p>

<h1>Cambio Estados</h1>

<table>
  <thead>
    <tr>
      <th>Fecha cambio</th>
      <th>Norma</th>
      <th>Comentario</th>
      <th>Fecha creacion</th>
      <th>Causa cambio estado</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cambio_estados.each do |cambio_estado| %>
      <tr>
        <td><%= cambio_estado.fecha_cambio %></td>
        <td><%= cambio_estado.norma %></td>
        <td><%= cambio_estado.comentario %></td>
        <td><%= cambio_estado.fecha_creacion %></td>
        <td><%= cambio_estado.causa_cambio_estado %></td>
        <td><%= cambio_estado.estado %></td>
        <td><%= link_to 'Show', cambio_estado %></td>
        <td><%= link_to 'Edit', edit_cambio_estado_path(cambio_estado) %></td>
        <td><%= link_to 'Destroy', cambio_estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cambio Estado', new_cambio_estado_path %>
