<h1>New cambio_estado</h1>

<% form_for(@cambio_estado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fecha_cambio %><br />
    <%= f.date_select :fecha_cambio %>
  </p>
  <p>
    <%= f.label :norma %><br />
    <%= f.text_field :norma %>
  </p>
  <p>
    <%= f.label :comentario %><br />
    <%= f.text_area :comentario %>
  </p>
  <p>
    <%= f.label :fecha_creacion %><br />
    <%= f.date_select :fecha_creacion %>
  </p>
  <p>
    <%= f.label :causa_cambio_estado %><br />
    <%= f.text_field :causa_cambio_estado %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cambio_estados_path %>