
    <!-- nuevo_plan.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<h1>Planificar Cambio de Estado</h1>

<p> Usted seleccionó la <b> norma <%= @norma.numero %> </b> para agregar una nueva fecha
para su cambio de estado.</p>

<p> Es necesario incorporar los siguientes datos: </p>

<% form_for(@cambio_estado, :url => {:action => "create", :id => @norma}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fecha_cambio %><br />
    <%= f.date_select :fecha_cambio, :order => [:day, :month, :year] %>
  </p>  
  <p>
    <%= f.label :comentario %><br />
    <%= f.text_area :comentario %>
  </p>  
  <p>
    <%= f.label :causa_cambio_estado_id %><br />
    <%= f.collection_select(:causa_cambio_estado_id, get_causa_cambio_estados, :id, :nombre) %>
  </p>
  <p>
    <%= f.label :estado_id %><br />
    <%= f.collection_select(:estado_id, get_estados, :id, :nombre)  %>
  </p>
  <p>
    <%= f.submit "Crear" %>
  </p>
<% end %>

<br />

<%= link_to 'Volver a la Norma', @norma %> |
<%= link_to 'Principal', :controller => 'pagina_principal' %>
