
    <!-- index.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<h1> Editar una Norma </h1>

<p> Indique el número y tipo de norma que desea editar o agregarle un elemento faltante. </p>

<%= form_for :buscar_norma, :url => {:action => "buscar_norma"} do |f|%>
  <p> Número de la Norma: </p>
  <p>
    <%= f.text_field :numero %>
  </p>
  <p> Tipo de la Norma: </p>
  <p>
    <%= f.collection_select :tipo, get_tipos_norma, :id, :nombre %>
  </p>
  <p>
    <%= f.submit "Buscar"  %>
  </p>
<% end %>

<br />
<%= link_to 'Principal', :controller => "pagina_principal" %>
