
    <!-- modificar_norma.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<h1> Modificar <%= link_to @norma.tipo_norma.nombre + " " + @norma.numero, @norma, :target => "_blank" %> </h1>

<% if @puede_editar or @citas_vacias or @texto_vacio or @comentarios_vacios %>
  <p> Indique que es lo que quiere editar o agregar de la norma. </p>
<% else %>
  <p> No se puede modificar nada de la norma seleccionada. </p>
<% end %>

<ul>
  <% if @comentarios_vacios %>
    <li>
      <p style="color:red"> ¡El comentario está vacío! </p>
      <%= link_to "Agregar los comentarios", :controller => "nueva_norma", :action => "agregar_comentarios", :id => @norma, :modificando => true %>
    </li>
  <% elsif @puede_editar%>
    <li>
      <p style="color:green"> La norma tiene un comentario no vacío </p>
      <%= link_to "Editar los comentarios", :controller => "nueva_norma", :action => "agregar_comentarios", :id => @norma, :modificando => true %>
    </li>
  <% end %>

  <% if @citas_vacias %>
    <li>
      <p style="color:red"> ¡Una de las citas(o las dos) está vacía! </p>
      <%= link_to "Agregar las citas", :controller => "nueva_norma", :action => "agregar_citas", :id => @norma, :modificando => true %>
    </li>
  <% elsif @puede_editar %>
    <li>
    <p style="color:green"> La norma tiene las citas no vacías </p>
    <%= link_to "Editar las citas", :controller => "nueva_norma", :action => "agregar_citas", :id => @norma, :modificando => true %>
    </li>
  <% end %>

  <% if @texto_vacio %>
    <li>
      <p style="color: red"> ¡El texto está vacío! </p>
      <%= link_to "Agregar el texto", :controller => "nueva_norma", :action => "subir_texto", :id => @norma, :modificando => true %>
    </li>
  <% elsif @puede_editar %>
    <li>
      <p style="color:green"> La norma tiene un texto no vacío. </p>
      <%= link_to "Cambiar el texto", :controller => "nueva_norma", :action => "subir_texto", :id => @norma, :modificando => true %>
    </li>
  <% end %>
</ul>

<br />
<% if @puede_editar %>
  <%= link_to "Editar Norma(Avanzado)", :controller => "normas", :action => "edit", :id => @norma %> |
<% end %>
<%= link_to 'Principal', :controller => "pagina_principal" %>
