
<!-- resultados.html.erb -->
<!-- Copyright (C) 2010  Giménez, Christian N. -->

<!-- This program is free software: you can redistribute it and/or modify -->
<!-- it under the terms of the GNU General Public License as published by -->
<!-- the Free Software Foundation, either version 3 of the License, or -->
<!-- (at your option) any later version. -->

<!-- This program is distributed in the hope that it will be useful, -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!-- GNU General Public License for more details. -->

<!-- You should have received a copy of the GNU General Public License -->
<!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<!-- Jueves 07 De Octubre Del 2010     -->

<script type="text/javascript">
 function enviar_formulario(){
     f = document.getElementById('form_imprimir');
     f.submit();
 }

</script>

<%= form_for :buscar_desc,
       :url => {:action => "vista_impresion" },
 :html => {:class => 'oculto', :id => 'form_imprimir' , :target => "_blank"} do |f| %>
    <%= f.text_field(:descgen_id,
      :value => params[:buscar_desc][:descgen_id], :readonly => 'true') %>
    <%= f.text_field(:descpart_id,
      :value => params[:buscar_desc][:descpart_id], :readonly => 'true') %>
    <%= f.text_field(:estado_todos,
      :value => params[:buscar_desc][:estado_todos],
      :readonly => 'true') %>
    <%= f.text_field(:estado_id,
      :value => params[:buscar_desc][:estado_id],
      :readonly => 'true') %>
    <%= f.text_field(:tipo_norma_todos,
      :value => params[:buscar_desc][:tipo_norma_todos],
      :readonly => 'true') %>
    <%= f.text_field(:tipo_norma_id,
      :value => params[:buscar_desc][:tipo_norma_id],
      :readonly => 'true') %>
    <%= f.text_field(:general_particular,
      :value => params[:buscar_desc][:general_particular],
      :readonly => 'true') %>
    <%= f.text_field(:ordenar,
      :value => params[:buscar_desc][:ordenar],
      :readonly => 'true') %>
    <%= f.text_field(:tipo_orden,
      :value => params[:buscar_desc][:tipo_orden],
      :readonly => 'true') %>
<% end %>

<h1> Resultados de la Búsqueda </h1>
<div class="comandos">
  <p>
    <%= link_to 'Volver a buscar por descriptor', :action => 'index' %> |
    <%  #link_to 'Editar', edit_norma_path(norma) %>
    <%= link_to 'Principal', {:controller => "pagina_principal"}, :target => "main" %> |
    <a href="javascript:enviar_formulario()"> Amigable a la Impresión </a>
  </p>
  <%= form_for :buscar_desc, :url => {:action => "buscar_normas" } do |f| %>
    <%= f.text_field(:descgen_id,
      :value => params[:buscar_desc][:descgen_id],
    :readonly => 'true',
    :class => 'oculto') %>
    <%= f.text_field(:descpart_id,
      :value => params[:buscar_desc][:descpart_id],
    :readonly => 'true',
    :class => 'oculto') %>
    <%= f.text_field(:estado_todos,
        :value => params[:buscar_desc][:estado_todos],
    :readonly => 'true',
    :class => 'oculto') %>
    <%= f.text_field(:estado_id,
      :value => params[:buscar_desc][:estado_id],
      :readonly => 'true',
    :class => 'oculto') %>
    <%= f.text_field(:tipo_norma_todos,
      :value => params[:buscar_desc][:tipo_norma_todos],
      :readonly => 'true',
    :class => 'oculto') %>
    <%= f.text_field(:tipo_norma_id,
      :value => params[:buscar_desc][:tipo_norma_id],
      :readonly => 'true',
    :class => 'oculto') %>
    <%= f.text_field(:general_particular,
        :value => params[:buscar_desc][:general_particular],
    :readonly => 'true',
    :class => 'oculto') %>
    <%= f.collection_select(:ordenar,
        ['fecha de sanción','numero', 'fecha de promulgación', 'fecha de publicación', 'fecha de creación'],
        :to_str, :to_str, {:include_blank => ''}
    ) %>
    <%= f.collection_select(:tipo_orden,
        ['ascendente', 'descendente'], :to_str, :to_str,{:include_blank => ''}
    ) %>
    <%= f.submit('Ordenar') %>
<% end %>

</div>

<% unless @lstNormas.nil?
    cant =  @lstNormas.length()
  else
    cant = 0
  end
  if cant == 0 %>
  <p><b> No se han encontrado resultados. </b></p>
<% elsif cant == 1 %>
  <p> Se ha encontrado sólo <b> 1 resultado </b>.</p>
<% else %>
  <p> Se han encontrado <b> <%= cant %> resultados </b>.</p>
<% end %>


<br />
<hr />
<% @lstNormas.each do |norma| %>
<p><b><big>
    <%= link_to norma.tipo_norma.nombre + " N° " + norma.numero, norma%>
  </big></b> |
  <i>
    <% estado = norma.obtener_estado_actual() %>
    <%= link_to estado.nombre, estado, :target => "_blank" unless estado.nil?%>
  </i> |
  <%= norma.sumario[0,100] + "..." %>
</p>
<hr />
<%  end %>

<div class="posamble">
  <p> <i>Sistema <u>Free</u>Digesto</i> <a href="http://www.fsf.org" target="_blank">¡Use Software Libre!</a>
    <a href="http://www.gnu.org/licences" target="_blank">Licencia GPL V3</a> </p>
</div>

