
    <!-- index.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<h1> Ultimas <%= @cant %> Normas </h1>

<p> Estas son las últimas <%= @cant %> normas </p>

<div class="comandos">
  <p>
    <%= link_to 'Principal', {:controller => "pagina_principal"}, :target => "main" %>
  </p>
</div>

<% @lstnormas.each do |norma| %>
<p> Tipo Norma:
  <%= norma.tipo_norma.nombre %>
</p>
<p> Número:
  <%= norma.numero %>
</p>
<p> Sumario:
  <%= norma.sumario %> 
</p> 
<p>
  <%= link_to 'Mostrar', norma %>
</p>


<hr />
<%  end %>
