
    <!-- index.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<h1>Listado de Lugares de Publicaciones</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Comentario</th>
  </tr>

<% for lugar_publicacion in @lugar_publicacions %>
  <tr>
    <td><%=h lugar_publicacion.nombre %></td>
    <td><%=h lugar_publicacion.comentario %></td>
    <td><%= link_to 'Mostrar', lugar_publicacion %></td>
    <td><%= link_to 'Editar', edit_lugar_publicacion_path(lugar_publicacion) %></td>
    <td><%= link_to 'Eliminar', lugar_publicacion, :confirm => '¿Está Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Lugar de Publicación', new_lugar_publicacion_path %> |
<%= link_to 'Atrás', :back %> |
<%= link_to 'Principal', :controller => 'pagina_principal' %>