
    <!-- show.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<p>
  <b>Nombre:</b>
  <%=h @lugar_publicacion.nombre %>
</p>

<p>
  <b>Comentario:</b>
  <%=h @lugar_publicacion.comentario %>
</p>


<%= link_to 'Editar', edit_lugar_publicacion_path(@lugar_publicacion) %> |
<%= link_to 'Atrás', :back %> |
<%= link_to 'Ir al listado', :action => 'index' %> |
<%= link_to 'Principal', :controller => 'pagina_principal' %>