<%= form_with(model: posee_desc_part, local: true) do |form| %>
  <% if posee_desc_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(posee_desc_part.errors.count, "error") %> prohibited this posee_desc_part from being saved:</h2>

      <ul>
      <% posee_desc_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :norma_id %>
    <%= form.text_field :norma_id %>
  </div>

  <div class="field">
    <%= form.label :descriptor_particular_id %>
    <%= form.text_field :descriptor_particular_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
