
    <!-- index.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->

<script type="text/javascript">
 var ocultar_otros_campos = true;  

 /**
  * Oculta todos los "otros campos".
  */
 function ocultar_campos(){
     var otros_campos = document.getElementById("otros_campos");
     var slct_estado = document.getElementById("buscar_numero_estado_id");
     var slct_tipo_norma = document.getElementById("buscar_numero_tipo_norma_id");

     otros_campos.style.visibility = "collapse";
     slct_estado.style.visibility = "collapse";
     slct_tipo_norma.style.visibility = "collapse";
 }

 /**
  * Muestra todos los "otros campos".
  */
 function mostrar_campos(){
     var otros_campos = document.getElementById("otros_campos");
     var slct_estado = document.getElementById("buscar_numero_estado_id");
     var chk_estado = document.getElementById("buscar_numero_estado_todos");
     var slct_tipo_norma = document.getElementById("buscar_numero_tipo_norma_id");
     var chk_tipo_norma = document.getElementById("buscar_numero_tipo_norma_todos");

     otros_campos.style.visibility = "visible";


     if (chk_estado.checked){
         slct_estado.style.visibility = "visible";
     }else{
         slct_estado.style.visibility = "collapse";
     }

     if (chk_tipo_norma.checked){
         slct_tipo_norma.style.visibility = "visible";
     }else{
         slct_tipo_norma.style.visibility = "collapse";
     }
 }

 /**
  * Chequea si debe mostrar u ocultar los dropdowns dependiendo de
  * un checkbox que están más arriba.
  */
 function chequear_dropdowns(){    
     if (ocultar_otros_campos){
         ocultar_campos();
     }else{
         mostrar_campos();
     }
 }

 /**
  * 
  */
 function habilitar_otros_campos(){    
     ocultar_otros_campos = !ocultar_otros_campos;    

     if (ocultar_otros_campos){
         //Ocultarlo...
         ocultar_campos();
     }else{
         //Mostrarlo
         mostrar_campos();
     }

 }  
</script>

<h1> Buscar por Número de Norma </h1>

<%= form_for :buscar_numero, :url => {:action => "buscar_numero" } do |f| %>
  <table>
  <tr><td>
  <p> Escriba un número de norma. </p>
  <p>
  <%= f.text_field(:numero) %>
  </p>
  <p>
    <%= f.submit("Buscar")  %>
  </p>
  
  <%=  link_to "Otros campos:", "javascript: habilitar_otros_campos()" %>
  </td></tr>
  <tr id="otros_campos">
  <td>
    <p> Con algún estado en particular </p>
    <p> <%= f.check_box "estado_todos", {:onchange => "javascript: chequear_dropdowns()"}%>
      Sí, tener en cuenta este estado en particular: </p>
        <%= f.collection_select(:estado_id,  get_estados, :id , :nombre)  %>

    <p> Buscar dentro de algún tipo de norma en particular </p>
    <p> <%= f.check_box "tipo_norma_todos", {:onchange => "javascript: chequear_dropdowns()", } %>
      Sí, tener en cuenta un tipo de norma en particular:</p>
      <%= f.collection_select(:tipo_norma_id, get_tipos_norma, :id, :nombre) %>

    <p> Con alguna clasificación de general, particular, o todos </p>
    <p> <%= f.radio_button("general_particular","Todos",{:checked => true}) %>
    Todos las normas sean generales y/o particulares</p>
    <p> <%= f.radio_button("general_particular","Generales") %>
    Sólo las normas que son generales.</p>
    <p> <%= f.radio_button("general_particular","Particulares") %>
    Sólo las normas que sean particulares. </p>
  </td>
  </tr>
  </table>
<% end %>

<div class="comandos">
  <p>
    <%= link_to 'Principal', {:controller => "pagina_principal"}, :target => "main" %>
  </p>
</div>

<script type="text/javascript">
  ocultar_campos();
</script>
