<%= form_with(model: agregar_privilegio, local: true) do |form| %>
  <% if agregar_privilegio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agregar_privilegio.errors.count, "error") %> prohibited this agregar_privilegio from being saved:</h2>

      <ul>
      <% agregar_privilegio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Privilegio_id %>
    <%= form.text_field :Privilegio_id %>
  </div>

  <div class="field">
    <%= form.label :Patron_privilegio_id %>
    <%= form.text_field :Patron_privilegio_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
