<p id="notice"><%= notice %></p>

<h1>Agregar Privilegios</h1>

<table>
  <thead>
    <tr>
      <th>Privilegio</th>
      <th>Patron privilegio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agregar_privilegios.each do |agregar_privilegio| %>
      <tr>
        <td><%= agregar_privilegio.Privilegio %></td>
        <td><%= agregar_privilegio.Patron_privilegio %></td>
        <td><%= link_to 'Show', agregar_privilegio %></td>
        <td><%= link_to 'Edit', edit_agregar_privilegio_path(agregar_privilegio) %></td>
        <td><%= link_to 'Destroy', agregar_privilegio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agregar Privilegio', new_agregar_privilegio_path %>
