
    <!-- new.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<h1>Nuevo Privilegio Para Un Patron</h1>

<% if @patron_privilegio.nil? %>
  <% form_for(@agregar_privilegio) do |f| %>
  <%= f.error_messages %>
    <p>
      <%= f.label :patron_privilegio_id %><br />
      <% #f.text_field :Patron_privilegio %>
      <%= f.collection_select(:patron_privilegio_id, get_patrones_privilegios, :id, :nombre) %>
    </p>
    <p>
      <%= f.label :privilegio_id %><br />
      <% # f.text_field :privilegio %>
      <%= f.collection_select(:privilegio_id, get_privilegios, :id, :nombre) %>
    </p>

    <p>
      <%= f.submit "Agregar" %>
    </p>
  <% end %>
<% else %>

  <% form_for(@agregar_privilegio, :url => {:action => "create", :patron => @patron_privilegio.id}) do |f| %>
    <%= f.error_messages %>
  
    <p> Patrón Privilegio: <b> <%= link_to h(@patron_privilegio.nombre), @patron_privilegio %> </b></p>
      <p>
      <%= f.label :privilegio_id %><br />
      <% # f.text_field :privilegio %>
      <%= f.collection_select(:privilegio_id, get_privilegios, :id, :nombre) %>
    </p>

    <p>
      <%= f.submit "Agregar" %>
    </p>
  <% end %>
<% end %>  

<div class="comandos">
  <p>
    <%= link_to 'Atrás', :back %> |
    <%= link_to 'Ir al listado', :action => 'index' %> |
    <%= link_to 'Principal', :controller => 'pagina_principal' %>
  </p>
</div>
