
    <!-- seleccionar_desc_part.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<script type="text/javascript">
   function agregar_id(id){
    var idstr = id.toString(10);
    var did = document.getElementById("descriptor_particular_id");

    //Chequear si ya existe, en cuyo caso quitarlo
    var c = did.value.indexOf(idstr);

    if (c >= 0){
      //Ya existe... quitarlo
      did.value = did.value.substr(0,c) + did.value.substr(c + idstr.length + 1);
    }else{
      // No existe, hay que agregarlo...
      did.value = did.value + idstr + " ";
    }
  }

  function agregar_desc(nombre){
    var nom = document.getElementById("nombre_descriptor");

    //chequear si no está
    var c = nom.value.indexOf(nombre);

    if (c >= 0){
      //Sí está: quitarlo
      nom.value = nom.value.substr(0,c) + nom.value.substr(c + nombre.length + 1);
    }else{
      //No está: agregarlo.
      nom.value = nom.value + nombre + "\n"
    }
  }

  function limpiar(){
    //Quitar los nombres de los descriptores
    var nom = document.getElementById("nombre_descriptor");
    nom.value = "";

    //Quitar los colores de los links
    var did = document.getElementById("descriptor_particular_id");

    var link_id = 0
    var desc = did.value.match(/\d+ /g);
    if (desc != null) {
      for (i=0; i < desc.length ; i++){
        link_id = desc[i].substr(0,desc[i].length - 1);
        link = document.getElementById("link_" + link_id);
        link.style.color= "";
      }
    }

    //Borrar los ids.
    did.value = "";
  }

  function cambiar_color(id){
    var link = document.getElementById("link_" + id.toString(10));
    if (link.style.color == "red"){
      //Ya fue elegido: cambiar al color original.
      link.style.color = "";
    }else{
      //Aún no fue elegido: poner el color rojo.
      link.style.color = "red";
    }

  }

  function elegir(id,nombre){
    if (id == '' && nombre == ''){
      limpiar();
    }else{
      //Cambiar color el elemento
      cambiar_color(id);

      //Agregar el id al verdadero input
      agregar_id(id);

      //Agregar el nombre al textarea
      agregar_desc(nombre);
    }
  }

</script>
<h1> Asistente para Crear Normas </h1>
<br>
<p>Pasos del asistente: </p>
<ol>
  <% if (not params[:creando_norma].nil?)  %>
    <li> Información básica de la norma </li>
    <li> Subir texto de la norma </li>
    <li> Planificar Cambios de Estados </li>
    <li> Relacionar la norma </li>
  <% end %>
  <li><b>Determinar descriptores</b><i>(Usted está aquí)</i></li>
  <ol>
    <li>Determinar descriptor general</li>
    <li><b>Determinar descriptores particulares</b><i>(Usted está aquí)</i></li>
  </ol>
</ol>
<br>

<h2> Paso 3: Determinar descriptores</h2>
<p> Aquí usted elegirá los descriptores particulares para la norma <%= @norma.numero %>.</p>

<p> Si usted no quiere agregar un descriptor particular, simplemente pulse "Agregar"
sin seleccionar uno. </p>

<p>
 <%= link_to "Ningún descriptor", "javascript: elegir('','')" %>
</p>

<ul>
  
 <% @lstDescParts.each do |desc_arr| %>
   <h3> <%= link_to desc_arr[0].nombre, desc_arr[0], :target => "_blank" %> </h3>
   <% desc_arr[1].each do |desc| %>
     <li>
      <%= link_to desc.nombre, "javascript: elegir(#{desc.id},'#{desc.nombre}')", {:id => 'link_' + desc.id.to_s} %>
     </li>
   <% end %>
 <% end %>
</ul>
<hr>
  <h3> Descriptores Elegidos Previamente </h3>
  <p> A modo de referencia puede observar aquí los descriptores
  que <b>hayan sido agregados en pasos previos</b> o en el
  momento de crearse esta norma.</p>

<% if (not @descElegidos.nil?) and (@descElegidos.length > 0) %>
  <p><b>Previamente</b> se ha agregado los siguientes descriptores: </p>
  <ul>
  <% @descElegidos.each do |desc| %>
    <li>
    <%= desc.nombre %>
    </li>
  <% end %>
  </ul>

<% else %>
  <p> <b>Previamente</b> no se ha agregado ningún descriptor particular. </p>
  <p> En pasos anteriores o al momento de crear la norma no se ha incluido ningún
  descriptor particular.</p>
<% end %>

<hr>
<h3> Chequee los Descriptores que Usted Seleccionó </h3>
<p><b>Antes de continuar</b> chequee que haya seleccionado los descriptores adecuados: </p>

<textarea rows="10" cols="40" id="nombre_descriptor" readonly></textarea>

<%= form_for :descriptor_particular, :url => {:action => "agregar_desc_part", :id => @norma.id} do |f| %>
  <%= f.text_field :id, :style => "visibility : hidden" %>
  <p>
    <%= f.submit "Agregar" %>
  <p>
<% end %>

<div class="comandos">
  <p>
    <%= link_to "Agregar otro descriptor general", :action => "seleccionar_desc_gen", :id => @norma.id %>
    | 
    <%= link_to 'Principal', {:controller => "pagina_principal"}, :target => "main" %>
  <p>
</div>
