
    <!-- index.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<h1>Listado de Estados</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Comentario</th>
  </tr>

<% for estado in @estados %>
  <tr>
    <td><%=h estado.nombre %></td>
    <td><%=h estado.comentario %></td>
    <td><%= link_to 'Mostrar', estado %></td>
    <td><%= link_to 'Editar', edit_estado_path(estado) %></td>
    <td><%= link_to 'Eliminar', estado, :confirm => '¿Está seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo estado', new_estado_path %> |
<%= link_to 'Atrás', :back %> |
<%= link_to 'Principal', :controller => 'pagina_principal' %>